*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
    height: 400px;
    display: flex;
    background-color: #f4f4f4;
    justify-content: space-between; /*main axis*/
    align-items: center;/*cross axis*/
}

.item{
    width: 100px;
    height: 100px;
    background: blue;
    color: white;
    margin: 10px;
}
.item:nth-of-type(1){
    align-self: start;
}
.item:nth-of-type(2){
    align-self: center;
}
.item:nth-of-type(3){
    align-self: end;
}